* {
    box-sizing: border-box;


}
.header{
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;
    color: black;
}
.header h1 {
    font-size: 48px;
    background-color: aqua;
    padding: 10px;
    width: 20%;
}


.header nav {

    font-size: 20px;
    padding: 5px;
}



.header2{
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    height: 200px;
}

.header2 h2{
    font-size: 20px;
    padding: 10px;
    background-color: cadetblue;
    width: 200px;
}

.one{
    background-color: cornflowerblue;
}
.one h1{
    font-size: 48px;
    padding: 20px;
}

.info{
    
}
.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 30px;
    padding: 30px;

}

.flex-row{
    border: 2px solid black;
    width: 81%;
    height: 200px;
    padding: 20px;
    margin: 10px;
    background-color: blue ;

}

.flex-row:hover, .flex-row:active{
    background-color: darkcyan;

}
.flex-row figure{
    border: 2px solid black;
    width: 200px;
    padding: 5px;
    background-color: darkorange;
}

.flex-row2{
    border: 2px solid black;
    width: 40%;
    height: 120px;
    padding: 20px;
    margin: 10px;
    background-color: blueviolet;
}

.flex-row2:hover, .flex-row:active{
    background-color: darkturquoise;
}
.flex-row2 figure{
    border: 2px solid black;
    width: 200px;
    padding: 5px;
    background-color: gold;
}

/* @media screen and (min-width: 768px) {
    .two {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .two:last-child {
      flex-grow: 1;
    }
  }
  

@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .two {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
     */
